name: forecasting
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pip
  - numpy
  - pandas
  - matplotlib
  - scikit-learn
  - pip:
      - torch==1.13.1
      - pytorch-lightning==1.9.5
      - pytorch-forecasting
